.Jumbotron{
    display: flex;
    margin-bottom: 50vh;
}

.LandingRowOne_Image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;
    width: 30%;
    background-size: cover;
    -webkit-background-size: 100% 100%;
  }